# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
resolver = "2"
members = ["pacman-mirrors", "pacman-repo-utils", "aurcache"]

[workspace.dependencies]
tokio = "1.45.0"
anyhow = "1.0.98"
reqwest = "0.12.15"
log = "0.4.27"
chrono = "0.4.41"
serde = "1.0.219"

[profile.release]
strip = "debuginfo"  # Automatically strip symbols from the binary.
opt-level = "z"  # Optimize for size.
lto = true  # Enable link-time optimization.
codegen-units = 1