name: CI

on:
  push:
    branches:
      - '**'

jobs:
  lintAndTestRust:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v4

      - name: Update local toolchain
        run: |
          rustup update
          rustup component add clippy
          rustup install nightly          

      - name: Toolchain info
        run: |
          cargo --version --verbose
          rustc --version
          cargo clippy --version          

      - name: Lint
        run: |
          cargo fmt -- --check
          cargo clippy -- -D warnings          

      - name: Test
        run: |
          cargo check
          cargo test --all
  lintFlutter:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.32.0

      - name: Toolchain info
        run: flutter doctor

      - name: Build Runner
        run: |
          flutter pub get
          flutter pub run build_runner build --delete-conflicting-outputs
      - name: Lint
        run: flutter analyze --no-fatal-infos

      - name: formatting
        run: dart format --set-exit-if-changed .